<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Leonel Sanz</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>¡Bienvenido a mi portfolio! Soy un desarrollador web fullstack con experiencia en la creación de soluciones digitales innovadoras y funcionales. Mi enfoque se basa en utilizar las últimas tecnologías y mejores prácticas para desarrollar aplicaciones web de alta calidad. Explora mi portfolio para ver ejemplos de mi trabajo y contáctame para discutir cómo puedo ayudarte a alcanzar tus objetivos digitales.</p>
        </span>
    </div>
</div> 